* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: green;
  font-style: italic;
  margin: 1rem 0 0 1rem;
}

h2 {
  margin-bottom: 1rem;
}

li {
  display: flex;
}

li::before {
  content: "•";
  margin-right: 1rem;
}

.title-notes {
  margin-top: 2rem;
  margin-left: 1rem;
}

.title-container {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.togglable {  
  display: flex;
  flex-direction: column;
  gap: 2px; 
  width: max-content;
  margin: 1rem;
}

.togglable-left {
  display: flex;  
  margin-left: auto;
}

.frmLogin-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
}

.frmLogin-container label{
  display: flex;
  gap: 5px;
}

.frmLogin-container label span{  
  display: flex;
  width: 80px;
}

.logout-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 1rem;
}

.frmNote-container form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn {
  background: lightgreen;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px 15px;
}

.btn:not(.show) {
  width: 90px;
}

.btn.save {
  margin-left: auto;
}

.btn.show,
.btn-impt {
  margin-left: 1rem;
}

.btn-bin {
  margin-left: 0.15rem;
}

.notification {
  border: 2px solid red;
  border-radius: 5px;
  font-size: 1.5rem;
  width: fit-content;
  margin-top: 2rem;
  margin-left: 1rem;
  padding: 0.5rem;
}

.notes {
  font-size: 1.15rem;
  margin: 1rem;
  padding-left: 1rem;
}

.footer {
  margin-left: 1rem;
}

.redText {
  color: red;
}

.greyText {
  color: grey;
}